{% extends "base.html" %} {% block body %}

<section class="about">
  <h1 class="title" align="center">THE WEBSITE</h1>
  <p class="quote" align="center">
    “If this works, it was planned. If it doesn’t, it was strategic failure.”
  </p>
  <div class="sticker" id="stick1">
    <img src="me.jpg" alt="me" />
  </div>
</section>

<div class="content-1">
  <div class="project-card">
    <div class="project-details">
      <div class="sec-2">
        <h1>WHAT AM I WORKING ON ?</h1>
        <ul class="submenu">
          <li>Python</li>
          <li>C++(Arduino UNO)</li>
          <li>Game developement(Godot)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="content-1">
  <div class="project-card">
    <div class="project-details">
      <div class="sec-3">
        <h1>MY PROJECTS ?</h1>
        <ul class="submenu1">
          <li>API weather App</li>
          <li>Neural Network Project</li>
          <li>Platformer and Gungeon Crawler Game</li>
          <li><a href="/projects">Check out all projects!</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
